

body {
  background-color: rgb(220, 235, 243);
  color: #333;
}
h1 {
    color: rgb(11, 95, 81);
    font-weight: 600;
    text-align: center;
  }


  h2 {
    color: rgb(71, 64, 64);
    font-weight: 400;
    text-align: center;
  }

h3 {
    color:rgb(53, 49, 49);
    margin-left: 20.5rem;
    font-size: 20px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
  }

  h4 {
    color: #14273f;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }h5 {
    color: #053064;
    font-size: 20px;
    font-weight: 500;
    
  }
  h6{
  
    font-size: 20px;
   text-align: left;
    
  }



table {
  border: 2px solid black; 
  border-collapse: black;
}
th{
  border: 2px solid black;
  font-size: 25px;
}
td{
  border: 2px solid black;
  font-size: 20px;
}
.img-responsive,
    .img-container {
        text-align: center;
}
#Personal,
#Technical {
    margin-left: 3.5rem;
font-weight: bold;
font-size: 25px;
}
#Momoh {
font-weight:inherit ;

}

li {
  color: #110e0e;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.container-full {
  display: flex;
  flex-wrap: wrap;
  }
  .container-full > div{
    
    text-align: justify;
    font-size: 17px;
    margin: 5px;
    padding: 10px;
    width: 1000px;
    font-family: 'Times New Roman', Times, serif;
  }
  .container-fall {
    display: flex;
    flex-wrap: wrap;
    }
    .container-fall > div{
      
      text-align: justify;
      font-size: 18px;
      font-family: 'Times New Roman', Times, serif;
      margin: 10px;
      padding: 10px;
      width: 500px;
    }

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background: url(../img/hero-bg.png) center bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 40px;
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 50%px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #71c55d;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}


